{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Информация о подкасте
{% endblock %}

{% block javascript %}
<script>
        $( document ).ready(function() {
            // to count listened
            document.getElementById("listen_btn").style.display = "none";
            var aud = document.getElementById("audio");
            aud.onplay = function() {
                document.getElementById("listen_btn").click();}


            //ajax form to show likes
            $('.like-form').submit(function(e){
                e.preventDefault()

                const podcast_id = $(this).attr('id')

                const likeText = $(`.like-btn${podcast_id}`).text()
                const trim = $.trim(likeText)

                const url = $(this).attr('action')

                let res;
                const likes = $(`.like-count${podcast_id}`).text()
                const trimCount = parseInt(likes)

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'podcast_id':podcast_id,
                    },
                    success: function(response) {
                        if(trim === 'Unlike') {
                            $(`.like-btn${podcast_id}`).text('Like')
                            res = trimCount - 1
                        } else {
                            $(`.like-btn${podcast_id}`).text('Unlike')
                            res = trimCount + 1
                        }

                        $(`.like-count${podcast_id}`).text(res + " Likes")
                    },
                    error: function(response) {
                        console.log('error', response)
                    }
                })

            })

            $('.listen-form').submit(function(e){
                e.preventDefault()

                const podcast_id = $('.like-form').attr('id')

                const listenText = $(`.listen-btn${podcast_id}`).text()
                const trim = $.trim(listenText)

                const url = $(this).attr('action')

                let lis;
                const listened = $(`.listen-count${podcast_id}`).text()
                const trimCount = parseInt(listened)

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        'podcast_id':podcast_id,
                    },
                    success: function(response) {
                        if(trim === 'Listened') {
                            $(`.listen-btn${podcast_id}`).text('Unlistened')
                            lis = trimCount + 1
                        }
                        $(`.listen-count${podcast_id}`).text(lis + " Listened")
                    },
                    error: function(response) {
                        console.log('error', response)
                    }
                })
            })
        });
    </script>



{% endblock %}

{% block content %}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <div class="space40"></div>

    <h1>{{podcast.title}}</h1>

    <h3>Автор: {{podcast.author}}</h3>

    <hr>
    <p>{{podcast.descript}}</p>
    <hr>

     {% if podcast.file %}
        <audio controls id="audio" >
            <source src ="{{podcast.file.url}}">
        </audio>
    {% endif %}
    <br/><br/>

    <div class="right floated">
        <form action="{% url 'like-podcast-view' %}" method="POST" class='like-form' id='{{podcast.id}}'>
            {% csrf_token %}
            <input type="hidden" name="podcast_id" value={{podcast.id}}>

            {% if user.is_authenticated %}
                <button type="submit" class="ui button like-btn{{podcast.id}}">
                    {% if user not in podcast.likes.all %}
                        Like
                    {% else %}
                        Unlike
                    {% endif %}
                </button>
            {% endif %}
                <div class="ui grid">
                    <br>
                        <div class="like-count{{podcast.id}}"> {{podcast.likes.count}} Likes</div>
                </div>
        </form>
    </div>

    <div class="right floated">
        <form action="{% url 'listen-view' %}" method="POST" class='listen-form' id="second_form">
            {% csrf_token %}
            <input type="hidden" name="podcast_id" value={{podcast.id}}>

            {% if user.is_authenticated %}
                <button type="submit" class="ui button listen-btn{{podcast.id}}" id="listen_btn">
                    {% if user not in podcast.listened.all %}
                        Listened
                    {% else %}
                        Unlistened
                    {% endif %}
                </button>
            {% endif %}
                <div class="ui grid">
                        <div class="listen-count{{podcast.id}}"> {{podcast.listened.count}} Listened</div>
                </div>
        </form>
    </div>

    <br>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseOne">
                  Дополнительная информация
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                {% if podcast.image %}
                    <img src="{{podcast.image.url}}" alt="">
                {% endif %}
                  {{podcast.category}}
                <br><br>
                  {{podcast.post_date}}
              </div>
            </div>
          </div>
        </div>

{% endblock %}
