{% extends 'main/base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
        <div class="panel-body">
          <div class="flex-1">
            <ul class="slides">
              <li>
                <img src="static/img/flex/05.jpg" alt="">
              </li>
              <li>
                <img src="static/img/flex/06.jpg" alt="">
              </li>
              <li>
                <img src="static/img/flex/07.jpg" alt="">
              </li>
            </ul>
          </div>
        </div>
    {% if podcasts %}
    <p><h4>Последние подкасты</h4></p>
        {% for podcast in podcasts %}
            <div class="alert alert-warning mt-2">
                <h3><a href="{% url 'details' podcast.pk %}">{{ podcast.title }} - {{ podcast.author }}</a></h3>
                <p>{{ podcast.descript }}</p>
                <p>{{ podcast.post_date }}</p>
                {% if user.is_superuser %}
                    <a href="{% url 'update' podcast.pk %}">Изменить</a><br/>
                    <a href="{% url 'delete' podcast.pk %}">Удалить</a><br/>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p><h4>У нас нет подкастов!</h4></p>
    {% endif %}

    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4>Самые классные подкасты</h4>
            <ul class="list-a">
              <li>
                {% for like_podcast in like_podcasts %}
                <i class="fa fa-check"></i>
                  <a href="{% url 'details' like_podcast.pk %}">{{like_podcast}}</a>
                </li><li>
                {% endfor %}
            </ul>
            <div class="space20"></div>
          </div>

          <div class="col-md-4">
            <h4>Самые прослушиваемые подкасты</h4>
            <ul class="list-a">
              <li>
                {% for listen_podcast in listen_podcasts %}
                <i class="fa fa-check"></i>
                  <a href="{% url 'details' listen_podcast.pk %}">{{listen_podcast}}</a>
                </li><li>
                {% endfor %}
            </ul>
            <div class="space20"></div>
          </div>
        </div>
    </div>
{% endblock %}