{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    {% if podcasts %}
        {% for podcast in podcasts %}
            <div class="alert alert-warning mt-2">
                <h3><a href="{% url 'details' podcast.pk %} ">{{ podcast.title }} - {{ podcast.author }}</a></h3>
                <p>{{ podcast.descript }}</p>
                <p>{{ podcast.post_date }}</p>
                {% if user.is_superuser %}
                    <a href="{% url 'update' podcast.pk %}">Изменить</a><br/>
                    <a href="{% url 'delete' podcast.pk %}">Удалить</a><br/>
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>У нас нет подкастов!</p>
    {% endif %}
{% endblock %}