{% extends 'main/base.html' %}

{% block title %}
Изменить подкаст
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <h1>Изменить подкаст</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.author }}<br>
            {{ form.descript }}<br>
            {{ form.category }}<br>
            {{ form.file}}<br>
            {{ form.duration}}<br>
            {{ form.image}}<br>
            <button type="submit" class="btn btn-success">Изменить</button>
            <span>{{ error }}</span>
        </form>
    {% else %}
        Изменять может только админ!!!
    {endif %}
{% endblock %}
